@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-style: normal;
  color: #ffffff;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

section {
  padding-bottom: 40px;
}

h2 {
  font-family: 'proxima_nova_rgbold';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 36px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong {
  font-family: 'proxima_nova_thextrabold';
}

a.button {
  display: block;
  width: 326px;
  height: 66px;
  font-family: 'proxima_nova_rgbold';
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}


@media screen and (max-width: 1024px) {

  .container {
    width: 690px;
  }

}


@media screen and (max-width: 749px) {

  .container {
    width: 320px;
  }

}